#spring.application.name=venue-booking
#
#spring.datasource.url= jdbc:mysql://localhost:3306/bookingdb
#spring.datasource.username= root
#spring.datasource.password= root
#jpa.hibernate.ddl-auto= update
#jpa.hibernate.show-sql= true

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

